<div class="ys-back-btn"></div>
<div class="content-container" style="padding: 20px">
    <div class="section-title">新增标签</div>
</div>
<div class="content-container" style="padding: 20px">
    <div style="width: 1000px;margin: 0 auto">
        <div class="flexbox aic jcsb">
            <div class="c-i-c" style="width: 490px">
                <div class="c-i-t is-must" style="width: 10em;text-align: right">标签名称：</div>
                <div class="c-i-d">
                    <input class="form-control" name="name" type="text" placeholder="输入标签名称" />
                </div>
            </div>
            <div class="c-i-c" style="width: 490px">
                <div class="c-i-t is-must" style="width: 10em;text-align: right">标签编码：</div>
                <div class="c-i-d">
                    <input class="form-control" name="labelNo" type="text" placeholder="输入标签编码" />
                </div>
            </div>
        </div>
        <div class="flexbox aic jcsb" style="margin-top: 20px">
            <div class="c-i-c">
                <div class="c-i-t is-must" style="width: 10em;text-align: right">标签状态：</div>
                <div class="c-i-d">
                    <div class="status-radio"></div>
                </div>
            </div>
        </div>
        <div class="flexbox aic jcc" style="margin-top: 20px">
            <button class="btn btn-main save-btn">保 存</button>
            <button class="btn btn-ys-default cancel-btn" style="margin-left: 20px">取 消</button>
        </div>
    </div>
</div>