<div class="ys-back-btn"></div>
<div class="content-container" style="padding: 20px">
    <div class="section-title">新增类目</div>
</div>
<div class="content-container" style="padding: 20px">
    <div style="width: 1000px;margin: 0 auto">
        <div class="flexbox aic jcsb">
            <div class="c-i-c" style="width: 490px">
                <div class="c-i-t is-must" style="width: 10em;text-align: right">类目名称：</div>
                <div class="c-i-d">
                    <input class="form-control" name="name" type="text" placeholder="输入类目名称" />
                </div>
            </div>
            <div class="c-i-c" style="width: 490px">
                <div class="c-i-t is-must" style="width: 10em;text-align: right">类目编码：</div>
                <div class="c-i-d">
                    <input class="form-control" name="categoryNo" type="text" placeholder="输入类目编码" />
                </div>
            </div>
        </div>
        <div class="flexbox aic jcsb" style="margin-top: 20px">
            <div class="c-i-c" style="width: 490px">
                <div class="c-i-t is-must" style="width: 10em;text-align: right">是否是一级类目：</div>
                <div class="c-i-d">
                    <div class="category-radio"></div>
                </div>
            </div>
            <div class="c-i-c ps" style="width: 490px;display: none">
                <div class="c-i-t is-must" style="width: 10em;text-align: right">选择父类目：</div>
                <div class="c-i-d">
                    <div class="parent-select" style="width: 160px"></div>
                </div>
            </div>
        </div>
        <div class="flexbox aic" style="margin-top: 20px">
            <div class="c-i-c">
                <div class="c-i-t is-must" style="width: 10em;text-align: right">类目图片：</div>
                <div class="c-i-d">
                    <div class="upload-imgs"></div>
                </div>
            </div>
        </div>
        <div class="flexbox aic jcsb" style="margin-top: 20px">
            <div class="c-i-c">
                <div class="c-i-t is-must" style="width: 10em;text-align: right">是否APP首页显示：</div>
                <div class="c-i-d">
                    <div class="showonapp-radio"></div>
                </div>
            </div>
        </div>
        <div class="flexbox aic jcc" style="margin-top: 20px">
            <button class="btn btn-main save-btn">保 存</button>
            <button class="btn btn-ys-default cancel-btn" style="margin-left: 20px">取 消</button>
        </div>
    </div>
</div>